<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appclubes">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/adbcampo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".USER.Regist" />
        <activity android:name=".USER.Main" />
        <activity android:name=".Perfil" />
        <activity android:name=".ADMIN.Main_admin" />
        <activity android:name=".ADMIN.Regist_Admin" />
        <activity android:name=".ATLETA.AddAtleta" />
        <activity android:name=".ESCALAO.AddEscalao" />
        <activity android:name=".Info" />
        <activity android:name=".CAMPEONATO.AddCampeonato" />
        <activity android:name=".EQUIPA.AddEquipa" />
        <activity android:name=".CONVOCATORIA.AddConvocatoria" />
        <activity android:name=".CONVOCATORIA.ObterAtletas" />
        <activity android:name=".ATLETA.ShowAtletas"/>
        <activity android:name=".Edit_Profile" />
    </application>

</manifest>